{% extends 'base.html' %}
{% block title %}Player Details{% endblock %}
{% block content %}
  <h1>{{ player.name }}</h1>
  <p><strong>Character: </strong>{{ player.character_main }}</p>
  <p><strong>Region: </strong>{{ player.region_code }}</p>
  <p>Number of tournaments entered: {{ calculations.3 }}</p>
  <p>Number of sets played: {{ sets.count }} </p>
  <p>Number of sets won: {{ calculations.0 }}</p>
  <p>Number of sets lost: {{ calculations.1 }}</p>
  <p>Win Rate: {{ calculations.2 }}%</p>

  <h2>Sets</h2>
  <table>
    <thead>
      <tr>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Player 1 Score</th>
        <th>Player 2 Score</th>
        <th>Tournament</th>
      </tr>
    </thead>
    <tbody>
      {% for set in sets %}
        <tr>
          <td><a href="{% url 'player_detail' set.player1.playerid %}">{{ set.player1.name }}</a></td>
          <td><a href="{% url 'player_detail' set.player2.playerid %}">{{ set.player2.name }}</a></td>
          <td>{{ set.player1score }}</td>
          <td>{{ set.player2score }}</td>
          <td><a href="{% url 'tournament_details' pk=set.tour.pk %}">{{ set.tour.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h2>H2H</h2>
  <table>
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>W/R</th>
      </tr>
    </thead>
  <tbody>
  {% for opponent in opponents %}
  <tr>
    <td> {{opponent.name }} </td>
    <td> {{opponent.wins }} </td>
    <td> {{opponent.losses }} </td>
    <td> {{opponent.win_rate }}% </td>
  </tr>
  {% empty %}
    <tr>
      <td colspan="3">No tournaments found</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}