{% extends 'base.html' %}
{% block title %}Player List{% endblock %}
{% block content %}
  <h1>Players</h1>

  <div class="d-flex justify-content-center mb-4">
      <form method="get" action="{% url 'players' %}" class="row g-2">
          <div class="col-auto">
              <input type="text" 
                     name="q" 
                     class="form-control" 
                     placeholder="Search players" 
                     value="{{ request.GET.q }}"
                     hx-get="{% url 'players' %}"
                     hx-trigger="keyup changed delay:500ms"
                     hx-target="#player-table-container"
                     hx-push-url="true">
          </div>
          <div class="col-auto">
              <button type="submit" class="btn btn-primary">Search</button>
          </div>
      </form>
  </div>

  <div id="player-table-container">
      {% include 'main/partials/player_list_partial.html' %}
  </div>
  {% endblock %}