{% extends 'base.html' %}
{% block title %}Tournament List{% endblock %}
{% block content %}
  <h1>Tournaments</h1>
    <form method="get" style="float: right" id="filter-form">
        <select name="pr_season" id="pr_season">
        <option value="">All Seasons</option>
        {% for pr_season in pr_seasons %}
        <option value="{{ pr_season.id }}" {% if request.GET.pr_season == pr_season.id|stringformat:"s" %}selected{% endif %}>
            {{ pr_season.name }}
        </option>
        {% endfor %}
        </select>
            <input type="submit" value="Filter">
    </form>
    <form method="get" action="{% url 'tournaments' %}">
                <input type="text" name="q" placeholder="Search tournaments">
                <button type="submit">Search</button>
          </form>
  <table>
    <thead>
      <tr>
          <th>Tournament</th>
          <th>Date</th>
          <th>Winner</th>
          <th>Entrants</th>

      </tr>
    </thead>
    <tbody>
      {% for tournament in page_obj %}
        <tr>
            <td><a href="{% url 'tournament_details' pk=tournament.pk %}">{{ tournament.name }}</a></td>
            <td>{{ tournament.date }}</td>
                        <td>             {% if tournament.winner and tournament.winner.id %}
                <a href="{% url 'player_detail' pk=tournament.winner.id %}">{{ tournament.winner }}</a>
            {% else %}
                 {{ tournament.winner }} <!-- or some default value or text -->
            {% endif %}</td>
            <td>{{ tournament.entrant_count }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&pr_season={{pr_season}}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&pr_season={{ request.GET.pr_season }}&q={{ request.GET.search }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&pr_season={{ request.GET.pr_season }}&q={{ request.GET.search }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}

<script type="text/javascript">
    document.getElementById('pr_season').addEventListener('change', function() {
        this.form.submit();
    });
</script>
