<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}My Site{% endblock %}</title>
      {% load static %}
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    <link rel="icon" type="image/jpeg" href="{% static '/images/mi_melee_icon.jpg' %}">
  </head>
  <body>
  <div class="container">
  <ul class="nav bg-info-dark bg-dark">
        <img src="{% static '/images/mi_melee_icon.jpg' %}" style='height: 45px; float: right;'>
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Home</a>
    </li>
        <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'players' %}">Players</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'tournaments' %}">Tournaments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'pr_season_details' current_pr.id %}">Pr</a>
    </li>
     <li class="btn-group dropdown">
        <a href="/admin" type="button" class="btn btn-danger">
          Admin
        </a>
       <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"></button>
       {% if user.is_superuser %}

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'tournament_form' %}">Tournament Form</a></li>
          <li><a class="dropdown-item" href="{% url 'pr_results_form' %}">Pr Results Form</a></li>
          <li><a class="dropdown-item" href="{% url 'pr_form' %}">Pr Results CSV Form</a></li>
          <li><a class="dropdown-item" href="{% url 'pr_season_form' %}">Pr Seasons Form</a></li>
        </ul>
       {% endif %}
     </li>

  </ul>
    <main>
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>